.lang-select {
  position: relative;
}

.lang-select__items {
  position: absolute;
  left: -110px;
  top: 25px;
  display: none;
  padding: 8px 0;
}

.lang-select__items_visible {
  display: block;
}
