.timetable-form {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.timetable-form__content {
  box-sizing: border-box;
  padding: 30px 20px;
}

.timetable-form__hall {
  padding: 10px 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #999;
  border-radius: 10px;
}

.timetable-form__halls-buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px;
}

.timetable-form__time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.timetable-form__time > *:first-child {
  margin-right: 20px;
}

@media screen and (min-width: 961px) {
  .timetable-form {
    width: 50%;
  }
}

@media screen and (max-width: 960px) {
  .timetable-form {
    width: 100%;
  }
}
