.age-groups-list {
  position: relative;
  max-width: 960px;
  margin: 0 auto !important;
}

.age-groups-list__item {
  height: 100%;
}

@media screen and (min-width: 961px) {
  .age-groups-list {
    width: 70%;
  }
}

@media screen and (max-width: 960px) {
  .age-groups-list {
    width: 100%;
  }
}
