.docs-page {
  margin-top: 40px;
}

.docs-page__list {
  max-width: 960px;
  margin: 40px auto 0 !important;
}

@media screen and (min-width: 961px) {
  .docs-page {
    margin-left: 220px;
  }

  .docs-page__list {
    width: 70%;
  }
}

@media screen and (max-width: 960px) {
  .docs-page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .docs-page__list {
    width: 100%;
  }
}
