@media screen and (min-width: 961px) {
  .logo {
    width: 200px;
    height: 29px;
    background-image: url(image/long_logo.png);
  }
}

@media screen and (max-width: 960px) {
  .logo {
    width: 45px;
    height: 29px;
    background-image: url(image/short_logo.png);
  }
}
