.admin-feises-table {
  position: relative;
  max-width: 1152px;
  margin: 0 auto;
}

@media screen and (min-width: 961px) {
  .admin-feises-table {
    width: 80%;
  }
}

@media screen and (max-width: 960px) {
  .admin-feises-table {
    width: 100%;
  }

  .admin-feises-table__head-cell:not(:first-child):not(:last-child) {
    display: none;
  }
}
