.students-table {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (min-width: 961px) {
  .students-table {
    width: 70%;
  }
}

@media screen and (max-width: 960px) {
  .students-table {
    width: 100%;
  }

  .students-table__head-cell:not(:first-child):not(:last-child) {
    display: none;
  }
}
