.lang-item {
  display: flex;
  padding: 6px 18px;
  color: black;
}

.lang-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.lang-item__flag {
  width: 40px;
  height: 24px;
  margin-right: 10px;
}
