.flag {
  width: 40px;
  height: 24px;
  background-size: cover;
  box-shadow: 2px 2px 5px #002200;
}

.flag:hover {
  cursor: pointer;
}

.flag_country_en {
  background: url(image/en_flag_icon.svg) center center;
  background-size: cover;
}

.flag_country_ru {
  background-image: url(image/ru_flag_icon.svg);
}

.flag_country_de {
  background-image: url(image/de_flag_icon.svg);
}
