.auth-page {
  margin: 40px auto;
  display: flex;
}

.auth-page__tab {
  width: 50%;
}

.auth-page__photo {
  width: 100%;
  height: 350px;
  margin: 30px 0;
  background: url(images/photo.jpg);
  background-size: cover;
}

@media screen and (min-width: 961px) {
  .auth-page {
    width: 80%;
    flex-direction: row;
  }

  .auth-page__form {
    margin-left: 40px;
  }
}

@media screen and (max-width: 960px) {
  .auth-page {
    width: 90%;
    flex-direction: column-reverse;
  }

  .auth-page__app-description {
    margin-top: 40px;
  }
}
