.timetable-page {
  margin-top: 40px;
}

@media screen and (min-width: 961px) {
  .timetable-page {
    margin-left: 220px;
  }
}

@media screen and (max-width: 960px) {
  .timetable-page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
