.org-entries-table {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.org-entries-table__dances-list {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 961px) {
  .org-entries-table {
    width: 80%;
  }
}

@media screen and (max-width: 960px) {
  .org-entries-table {
    width: 100%;
  }

  .org-entries-table__head-cell:not(:first-child):not(:last-child) {
    display: none;
  }
}
