.teacher-feises-table {
  position: relative;
  max-width: 1152px;
  margin: 0 auto;
}

.teacher-entries-table__dances-list {
  padding-left: 20px;
  margin: 0;
}

@media screen and (min-width: 961px) {
  .teacher-feises-table {
    width: 80%;
  }
}

@media screen and (max-width: 960px) {
  .teacher-feises-table {
    width: 100%;
  }
}
